/* Fondo + centrado */
.wrapper {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);   /* opacidad regulable */
  z-index: 1000;
}

/* Caja */
.modal {
  background: #121212;
  border-radius: 4px;
  padding: 24px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

.closeModalButton {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.modalTitle {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.titleModal {
  padding: 8px;
  width: 100%;
}