  .tiptap-wrapper {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    height: 100%;
    /* background-color: white; */
    min-height: 200px;
  }
  
  .toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 10px;
  }
  
  .toolbar button {
    /* background-color: #f5f5f5; */
    border: #ccc solid 1px;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .toolbar .active {
    background-color: #ddd;
    font-weight: bold;
  }

  /* Hover estilo violeta */
  .toolbar button:hover {
    background-color: #644bff;
    color: white;
    border-color: #644bff;
  }
  
  /* Activo (botón presionado como bold activo, etc) */
  .toolbar .active {
    background-color: #644bff;
    color: white;
    border-color: #644bff;
    font-weight: bold;
  }
  
  .editor-container .ProseMirror {
    border: 1px solid #ccc; /* Siempre visible */
    border-radius: 6px;
    padding: 12px;
    color: white;
    background-color: black;
    min-height: 300px;
    outline: none;
  }
  
  /* Opcional: cambia el borde en foco para mostrarlo más claro */
  .editor-container .ProseMirror:focus {
    border-color: #888;
  }

  /* Estilo base del bloque de código */
  .ProseMirror pre {
    background-color: #1e1e1e; /* Un gris un poco más claro que el fondo general */
    /*border: 1px solid #333;
    border-radius: 8px;*/
    padding: 12px;
    margin: 16px 0;
    overflow-x: auto;
    position: relative;
    box-shadow: 0 0 8px rgba(100, 100, 100, 0.1);
  }
  
  .ProseMirror pre code {
    /*
    font-family: 'Fira Code', 'Consolas', monospace;
    font-size: 0.9rem;
    line-height: 1.5;
    color: inherit;
    */
  }

  .ProseMirror pre,
  .ProseMirror pre code {
    spellcheck: false;
    -webkit-touch-callout: none;
    -moz-user-modify: read-write; /* permite editar sin bloquear el caret */
    text-decoration: none !important; /* borra cualquier subrayado */
  }

/*
  .language-csharp {
    background-color: #68217A;
  }
  
  .language-javascript {
    background-color: #2d2d2d;
    color: #fdd835;
  }
  
  .language-html {
    background-color: #1e1e1e;
    color: #e34c26;
  }
  
  .language-plaintext {
    background-color: #333;
    color: #ccc;
  }*/


.custom-code-block pre:focus {
  outline: none;
}

.custom-code-block code > div {
  caret-color: white; /* 👈 MOSTRÁ el cursor */
}


.hljs{
  background: #0d1117 !important;
}
