.card-skeleton {
    width: 100%;
    padding-bottom: 2%;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.label-card-skeleton {
    border: 1px solid #ffffff22;
    border-radius: 8px;
    padding: 1rem;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    animation: fadein 0.3s ease-in;
}

.card-skeleton .header-skeleton {
    display: flex;
    align-items: center;
}

.avatar-skeleton-container {
    padding-top: 30px;
    width: 50px;
}

.header-skeleton .avatar-skeleton {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.header-skeleton .details {
    margin-top: 10px;
    width: 100%;
}

.details span {
    display: block;
    overflow: hidden;
    position: relative;
}

.details .title-skeleton {
    height: 18px;
    width: 90%;
    margin-top: 10px;
}

.details .content-skeleton {
    height: 13px;
    width: 335px;
    margin-top: 15px;
}

.details .tag-skeleton {
    height: 22px;
    width: 35px;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 20px;
}

.tag-skeleton-container{
    display:flex;
}

.card-skeleton .description {
    margin: 25px 0;
}

.description .line {
    background: #d9d9d9;
    border-radius: 10px;
    height: 13px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
}

.description .line-1 {
    width: calc(100% - 15%);
}

.description .line-3 {
    width: calc(100% - 40%);
}

.card-skeleton .btns {
    display: flex;
}

.card-skeleton .btns .btn {
    height: 45px;
    width: 100%;
    background: #d9d9d9;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.btns .btn-1 {
    margin-right: 8px;
}

.btns .btn-2 {
    margin-left: 8px;
}

.header-skeleton .avatar-skeleton::before,
.details span::before,
.description .line::before,
.btns .btn::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(190, 190, 190, 0.2) 25%, rgba(129, 129, 129, 0.24) 37%, rgba(190, 190, 190, 0.2) 63%);
    background-size: 1450px 950px;
    animation: shimmer 1.5s linear infinite;
}

.details span::before {
    animation-delay: 0.2s;
}

.btns .btn-2::before {
    animation-delay: 0.22s;
}

@keyframes shimmer {
    0% {
        background-position: -650px 0;
    }

    100% {
        background-position: 750px 0;
    }
}


@media only screen and (max-width: 768px) {
    .details .content-skeleton {
        width: 290px;
    }
}

@media (max-width: 480px) {
    .details .content-skeleton {
        width: 200px;
    }
}

@media (max-width: 320px) {
    .details .content-skeleton {
        width: 100px;
    }
}




/*----------------------------------------------------------------*/

/* Skeleton Button circle Styles */

.skeleton-circle {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background: #644bff;
}

.skeleton-circle::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(190, 190, 190, 0.2) 25%,
    rgba(129, 129, 129, 0.24) 37%,
    rgba(190, 190, 190, 0.2) 63%
  );
  background-size: 1450px 950px;
  animation: shimmer 1.5s linear infinite;
}

@media (max-width: 720px) {
    .skeleton-circle {
      margin-top: 1rem;
    }
}

/* End Skeleton Button circle Styles */



/* Skeleton Comment Styles */

.skeleton-answer-card {
  display: flex;
  padding: 38px;
  background: #000;
  border-radius: 10px;
  gap: 32px;
  align-items: flex-start;
  height: 222px;
}
.skeleton-vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  height: 100%;
}
.skeleton-arrow {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.skeleton-count {
  width: 10px;
  height: 18px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.skeleton-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
}
.skeleton-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.skeleton-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.skeleton-user-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.skeleton-username {
  width: 120px;
  height: 16px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.skeleton-time {
  width: 90px;
  height: 12px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.skeleton-text {
  width: 80%;
  height: 16px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
/* Shimmer effect */
.skeleton-arrow::before,
.skeleton-count::before,
.skeleton-avatar::before,
.skeleton-username::before,
.skeleton-time::before,
.skeleton-text::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(190, 190, 190, 0.2) 25%,
    rgba(129, 129, 129, 0.24) 37%,
    rgba(190, 190, 190, 0.2) 63%
  );
  background-size: 1450px 950px;
  animation: shimmer 1.5s linear infinite;
}

/* End Skeleton Comment Styles */



/* Skeleton Editor Styles */

.skeleton-editor-wrapper {
  background: #000;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.skeleton-toolbar {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.skeleton-editor-area {
  height: 235px;
  width: 100%;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}
.skeleton-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.skeleton-charcount {
  height: 14px;
  width: 150px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}
.skeleton-button {
  height: 42px;
  width: 100%;
  border-radius: 8px;
  background: #644bff; /* color similar al botón real */
  opacity: 0.4;
  position: relative;
  overflow: hidden;
}

/* shimmer */
.skeleton-toolbar::before,
.skeleton-editor-area::before,
.skeleton-charcount::before,
.skeleton-button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(190, 190, 190, 0.2) 25%,
    rgba(129, 129, 129, 0.24) 37%,
    rgba(190, 190, 190, 0.2) 63%
  );
  background-size: 1450px 950px;
  animation: shimmer 1.5s linear infinite;
}

/* End Skeleton Editor Styles */



.top-user-skeleton {
    border-bottom: 4px dotted #212121;
    align-items: start;
    text-align: left;
    color: #fff;
    display: flex;
}

.top-user-last-skeleton {
    align-items: start;
    text-align: left;
    color: #fff;
    display: flex;
}

.top-user-points-skeleton {
    align-items: center;
    align-self: flex-end;
    margin-right: 10px;
    display: flex;
}

.card-skeleton-topUser {
    width: 100%;
    padding-bottom: 10px;
    border-radius: 10px;
}

.card-skeleton-topUser .header-skeleton {
    display: flex;
    align-items: center;
}

.avatar-skeleton-topUser-container {
    padding-top: 30px;
    width: 50px;
}

.header-skeleton .avatar-skeleton {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.header-skeleton .details {
    margin-top: 10px;
    width: 100%;
    flex-direction: column;
}

.details span,
.top-user-skeleton span,
.top-user-last-skeleton span {
    display: block;
    overflow: hidden;
    position: relative;
}

.details .avatar-title-skeleton {
    height: 18px;
    width: 120px;
    margin-top: 10px;
}

.details .avatar-content-skeleton {
    height: 13px;
    width: 90px;
    margin-top: 15px;
}

.points-skeleton {
    height: 13px;
    width: 30px;
}

.details .tag-skeleton {
    height: 22px;
    width: 35px;
    margin-top: 15px;
    margin-right: 10px;
    border-radius: 20px;
}

.tag-skeleton-container {
    display: flex;
}

.card-skeleton-topUser .description {
    margin: 25px 0;
}

.description .line {
    background: #d9d9d9;
    border-radius: 10px;
    height: 13px;
    margin: 10px 0;
    overflow: hidden;
    position: relative;
}

.description .line-1 {
    width: calc(100% - 15%);
}

.description .line-3 {
    width: calc(100% - 40%);
}

.card-skeleton .btns {
    display: flex;
}

.card-skeleton .btns .btn {
    height: 45px;
    width: 100%;
    background: #d9d9d9;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.btns .btn-1 {
    margin-right: 8px;
}

.btns .btn-2 {
    margin-left: 8px;
}

.header-skeleton .avatar-skeleton::before,
.details span::before,
.description .line::before,
.btns .btn::before,
.top-user-points-skeleton span:nth-child(2)::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(190, 190, 190, 0.2) 25%, rgba(129, 129, 129, 0.24) 37%, rgba(190, 190, 190, 0.2) 63%);
    background-size: 1450px 950px;
    animation: shimmer 1.5s linear infinite;
}

.details span::before {
    animation-delay: 0.2s;
}

.btns .btn-2::before {
    animation-delay: 0.22s;
}

@keyframes shimmer {
    0% {
        background-position: -650px 0;
    }

    100% {
        background-position: 750px 0;
    }
}

@media (max-width: 1200px) {
    .top-user-points-skeleton {
        display: flex;
        flex-direction: row;
    }

    .details .avatar-title-skeleton {
        width: 90px;
    }

    .details .avatar-content-skeleton {
        width: 65px;
    }

    .points-skeleton {
        width: 20px;
    }

    .top-user-points-skeleton{
        margin-top: 5px;
    }
}

@media (max-width: 720px) {

    .points-skeleton {
        font-size: 14px;
    }
}
